<!doctype html>
<html lang="en">
  <head>
    <title>Movies DB</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

      <h2> Search Interface </h2>
      <p><a href="/contrib_search">Search for actors/directors</a></p>
      <p><a href="/movie_search">Search for movies</a></p>
      <p><a href="/review_search">Search for reviews</a></p>

      <h2> Data Entry Interface </h2>
      <b> Movies </b>
      <p><a href="/new_movie">Add new movie</a></p>
      <p><a href="/bulk_load_movies">Bulk load movies</a></p>

      <b> Contributors (Actors and directors)</b>
      <p><a href="/new_contributor">Add new contributor</a></p>
      <p><a href="/bulk_load_contributors">Bulk load contributors</a></p>

      <b> Movie Reviews </b>
      <p><a href="/new_review">Add new review</a></p>
      <p><a href="/bulk_load_reviews">Bulk load reviews</a></p>

      <b> Acted </b>
      <p><a href="/new_acted">Add a new acted</a></p>
      <p><a href="/bulk_load_acted">Bulk load acted</a></p>

      <b> Release Dates </b>
      <p><a href="/new_release_date">Add a new release date</a></p>
      <p><a href="/bulk_load_release_dates">Bulk load release dates</a></p>


      <h2> Browsing Interface </h2>
      <p><a href="/movie_list">List movies</a></p>
      <p><a href="/contributor_list">List contributors</a></p>
      <p><a href="/review_list">List reviews</a></p>
      <p><a href="/acted_list">List acted</a></p>
      <p><a href="/release_date_list">List release dates</a></p>

      <a href="\" class="btn btn-outline-primary" role="button">Go Back Home</a>
    </div>

  </body>
</html>
